.thumbnail {
  background-color: grey;
  color: white;

  font-weight: bolder;
  font-size: 21px;
  display: flex;
  justify-content: center;
  border-radius: 50%;
  align-items: center;
  margin-right: 10px;
}