.slide-container {
  display: flex;
  align-items: center;
  max-width: 57rem;
  overflow-y: auto;
  margin: auto;
}

.single-item-container {
  padding: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  cursor: pointer;
  min-width: 10rem;
}

.items-container {
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  margin: 0px 4px 15px;
}

.icon-class {
  cursor: pointer;
}
/* .items-container::-webkit-scrollbar {
  display: none;
} */